<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
   
    <script src="https://kit.fontawesome.com/82fff5def6.js" crossorigin="anonymous"></script>
     <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">


</head>
<body>
    <header>
        <div class="logo-busqueda">
        <img src="images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre" class="logo">

       
            <form action="/search" method="GET" class="busqueda">
                

                    <input type="text" placeholder="Buscar productos, marcas" name="query" class="search-input">
                    <button type="submit" class="boton">
                        
                        <i class="fa-solid fa-magnifying-glass" id="search-button"></i>
                    </button>
            
                
            </form>
        
            <p ><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    </div>

        <nav class="navG">
            <ul class="nav1">
                <li class="navbar__item"><a href="#">Ofertas</a></li> 
                <li class="navbar__item"><a href="#">Tiendas Oficiales</a></li>
                <li class="navbar__item"><a href="#">Vender</a></li>
                <li class="navbar__item"><a href="#">Ayuda</a></li>
            </ul>
            <ul class="nav2">
                <li class="navbar__item"><a href="./register.html">Creá tu cuenta</a><i class="fa-regular fa-address-card"></i></li> 
                <li class="navbar__item"><a href="./login.html">Ingresá</a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                <li class="navbar__item"><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars" id="burger"></i>
            </div>

        <img src="images/img-home-banner.jpg" alt="" class="banner">

    </header>


    

    <main>
        <h2 class="titular">Basado en tu última visita</h2>
        <section>

        <article class="producto">
            <img src="images/img-cafetera-moulinex.jpg" alt="Imagen de la cafetera">
        <div class="proData">
            <div class="camion"> <i class="fa-solid fa-truck"></i></div>
            <p class="precio">$6.770</p>
            <p class="descuento">40% OFF</p>
        </div>
        <p class="descripcion">Cafetera Moulinex</p>

        </article>
    
        <!-- Producto 2: MacBook Pro 2019 -->
        <article class="producto">

            <img src="images/img-macbook-pro-2019.jpg" alt="Imagen de MacBook">
            <div class="proData">
            <div class="camion"> <i class="fa-solid fa-truck"></i></div>
            <p class="precio">$230.000</p>
            <p class="descuento">20% OFF</p>
        </div>
        <p class="descripcion">MacBook Pro 2019</p>
        </article>
    
        <!-- Producto 3: Samsung Galaxy S10 -->
        <article class="producto">

            <img src="images/img-samsung-galaxy-s10.jpg" alt="Imagen del Samsung Galaxy">
            <div class="proData">
            <div class="camion"> <i class="fa-solid fa-truck"></i></div>
            <p class="precio">$70.500</p>
            <p class="descuento">10% OFF</p>
        </div>
        <p class="descripcion">Samsung Galaxy S10</p>
        </article>
    
        <!-- Producto 4: SmartTv Samsung 43" -->
        <article class="producto">

            <img src="images/img-tv-samsung-smart.jpg" alt="Imagen del SmartTv">
            <div class="proData">
             <div class="camion"> <i class="fa-solid fa-truck"></i></div>
            <p class="precio">$23.200</p>
            <p class="descuento">5% OFF</p>
        </div>
        <p class="descripcion">SmartTv Samsung 43"</p>
        </article>

        
    </section>
    </main>


    <footer>

       

        
        
           <article>
            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p> 
            </article>

         <article>
            <i class="fa-solid fa-gift"></i>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p> 
        </article>

        <article>
            <i class="fa-solid fa-user-shield"></i>
        <h3>  Seguridad, de principio a fin</h3>
        <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
           porque estás siempre protegid@..</p> 
       
         
        </article>
        
    </footer>
    <p class="Copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p> 

</body>
</html>